html{
  box-sizing: border-box;
  font-size: 13px;
}
label{
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 6px;
}
.campaigns{
  border: rgb(221,221,221) solid 1px;
  margin-top: 10px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.campaignsInner{
  color: white;
}
.campaign1{
  background-color: #E16768;
}
.campaign2{
  background-color: #45BBF6;
}
.campaign3{
  background-color: #76C079;
}
.campaign4{
  background-color: #EE5787;
}
.campaign5{
  background-color: #44ADA2;
}
.campaign6{
  background-color: #859AA4;
}
.campaign7{
  background-color: #8A6AC6;
}
.panel{
  min-width: 230px;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}
.campaign{
  padding: 20px;
}
.panel-body{
  margin-bottom: 20px;
}
.row{
  margin: 0 15px;
}
.panel-heading{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.fa{
  color: #626262;
}
.fa-angle-up{
  font-size: 1.25em;
}
.heading-actions{
  margin-right: 10px;
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.modal{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.modal-dialog{
  margin: 10px;
  line-height: 20px;
  max-width: 500px;
}
.modal-content{
  border-radius: 0px;
}
.modal-header{
  background-color: #5783CB;
}
.modal-header > h1{
  color: white;
  font-weight: 300;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-body{
  padding: 20px 0px;
}
.close{
  position: absolute;
  right:12px;
  top: 12px;
  font-size: 35px;
  color: white;
  margin-top: -9.75px;
  font-weight: 300;
  opacity: 0.6;
  transform: scaleX(1.15);
}
.close:hover{
  color: white;
}
.modal-header{
  color: white;
  border: 1px solid #5783CB;
  line-height: 20px;
  padding: 15px 20px;
  height: 98px;
  position: relative;
  margin-bottom: 5px;
}
.form-control{
  font-size: 16px;
  border-radius: 0px;
}
.form-group{
  margin-bottom: 10px;
}
.row{
  margin: 0 10px;
  padding: 0;
}
.col-sm-12{
  padding: 0 10px;
}
.modal-footer{
  border-width: 0px;
  padding: 0 20px 20px 20px;
}
.btn{
  padding: 7px 12px;
  position: relative;
  line-height: 20px;
  margin-right: 2.5px;
  border-radius: 2px;
}
.btn-default{
  background-color: white;
  border: 1px solid #dddddd;
}
#organizationInput{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
  padding: 0 10px;
}
